.panel {
  display: flex;
  border-radius: 230px;
  flex-direction: column;
  height: 1024px;
  width: 270px;
  background-color: #1b2530;
}

.recordingButton {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: rgba(232, 92, 92, 0.6);
  border: none;
  padding: 10px;
  &:focus,&:hover {
    outline: none;
  }
}

.recordingInProgress {
  background-color: rgba(232, 92, 92);
  box-shadow: 0 0 0 10px rgba(232, 92, 92, 0.23);
  filter: blur(0.7px);
}