.panel {
  display: flex;
  border-radius: 230px;
  flex-direction: column;
  height: 1024px;
  width: 270px;
  background-color: #1b2530;
  padding: 20px;
}

.tracksHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
  color: rgba(232, 92, 92, 0.9);
  font-family: "New Rocker", system-ui;
}

.recordingButtonWrapper {
  display: flex;
  gap: 20px;
  margin: 30px 0 10px 0;
  color: rgba(232, 92, 92, 0.9);
  font-family: "New Rocker", system-ui;
}

.recordingButton {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: rgba(232, 92, 92, 0.6);
  border: none;
  padding: 10px;
  &:focus,&:hover {
    outline: none;
  }
}

.recordingInProgress {
  background-color: rgba(232, 92, 92);
  box-shadow: 0 0 0 10px rgba(232, 92, 92, 0.23);
  filter: blur(0.7px);
}

.recordsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}