.page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  min-height: 100vh;
  min-width: 100vw;
}

.drums-view {
  width: 1024px;
  height: 1024px;
  border-radius: 230px;
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}